div.serverselect div.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div.serverselect div.actions button {
  border: none;
  padding: 8px 20px;
  border-radius: var(--button-border-rad);
  background-color: var(--button-bg);
  color: var(--fg);
}

div.serverselect div.actions button:not(.suggested):disabled {
  opacity: 0.7;
  background-color: var(--button-bg) !important;
}

div.serverselect div.actions button:hover {
  background-color: var(--button-hover-bg);
  box-shadow: var(--suggested-hover-shadow);
}

div.serverselect div.actions button:active {
  background-color: var(--button-active-bg);
}

div.serverselect div.actions button:disabled {
  box-shadow: none;
}

div.serverselect div.actions button.suggested {
  background-color: var(--suggested-bg);
  color: var(--suggested-fg);
  box-shadow: var(--suggested-shadow);
}

div.serverselect div.actions button.suggested:hover {
  background-color: var(--suggested-hover-bg);
  box-shadow: var(--suggested-hover-shadow);
}
div.serverselect div.actions button.suggested:active {
  background-color: var(--suggested-active-bg);
  box-shadow: none;
}

div.serverselect div.actions button.suggested:disabled {
  opacity: 0.25;
  box-shadow: none;
  background-color: var(--suggested-bg);
}
