@import url("./selector.css");
@import url("./root.css");
@import url("./actions.css");
@import url("./header.css");

div.serverselect {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-image: url("../../../assets/bg/img24.jpg");
  opacity: 0;
  transition: opacity 1s;
}

div.serverselect > div.content {
  width: 560px;
  height: 450px;
  box-shadow: var(--content-shadow);
  background-color: var(--bg);
  color: var(--fg);
  border: var(--content-border);
  border-radius: var(--win-border-rad);
  font-family: var(--font);
  font-size: var(--font-size);
  padding: 20px;
}

div.serverselect::after {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000a;
}

div.serverselect.show {
  opacity: 1;
}

div.serverselect h1 {
  margin: 0;
  color: var(--fg);
  font-size: 22px;
}

div.serverselect img.logo {
  height: 100px;
  margin-bottom: 10px;
}
