:root body > #app > div.app div.state-renderer.state-ArcOS-serverselect {
  --bg: #fcfcfc;
  --fg: #555555;
  --content-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.5);
  --content-border: #a9a9a9 1px solid;
  --suggested-bg: #00a3ff;
  --suggested-hover-bg: #59c3ff;
  --suggested-active-bg: #1b76aa;
  --suggested-fg: #ffffff;
  --suggested-hover-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  --suggested-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  --button-bg: #ececec !important;
  --button-hover-bg: #e0e0e0 !important;
  --button-active-bg: #c3c3c3 !important;
  --backdropped-bg: var(--button-hover-bg);
  --error: rgb(223, 72, 72);
}

@media screen and (prefers-color-scheme: dark) {
  :root body > #app > div.app div.state-renderer.state-ArcOS-serverselect {
    --bg: #1e1e1e;
    --fg: #cccccc;
    --content-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.5);
    --content-border: #303030 1px solid;
    --suggested-bg: #72cbff;
    --suggested-hover-bg: #3ea8e6;
    --suggested-active-bg: #1b76aa;
    --suggested-fg: #000;
    --suggested-hover-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    --suggested-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    --button-bg: #242424;
    --button-hover-bg: #333;
    --button-active-bg: #111;
    --content-after-bg: #000a;
    --error: rgb(207, 109, 109);
    --backdropped-bg: var(--button-active-bg);
  }
}
